{% extends 'base.html' %}

{% block content %}
  <h1>Weather App</h1>
  <form method="GET" action="{% url 'get_weather' %}">
    <label for="location">Enter a city name:</label>
    <input type="text" name="location" id="location" required>
    <button type="submit">Get Weather</button>
  </form>
  {% if data %}
    
  
    <h2>City Name: {{ data.location.name }}</h2>
    <h2>Country Name:  {{ data.location.country }}</h2>
    <p>Temperature: {{ data.current.temp_c }}&deg;C</p>
    <p>Condition: {{ data.current.condition.text }}</p>
    {% endif %}
    
    {%if error %}
    <h2>"{{ query_name }}" is not a Valid City Name</h2>
    <h1>{{error}}</h1>
  {% endif %}
  
{% endblock %}